<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../css/styles.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre mí</title>
</head>
<body>
    <header>
        <h1>Blog de Aitor</h1>
    </header>
    <nav>
        <ul>
            <li><a href="homeVerifyed.php">Inicio</a></li> 
            <li><a class="active" href="about.html">Sobre mí</a></li>
            <li><a href="articles.html">Articulos</a></li>
            <li><a href="profile.php">Mi perfil</a></li>
            <li style="float:right"><a href="endSession.html">Cerrar sesión</a></li>
        </ul>
    </nav>
    <section>
        <article>
            <div class="title"><h2>Sobre mí</h2></div>
            <p>Estudiante de Escoles Nuria, aquí encontraras mis noticias sobre videojuegos y información relacionada con streamings</p>
            <p>Para contactar conmigo -> estudiosaitorruto@gmail.com</p>
        </article>
    </section>

    <footer>
        <p>Autor: Aitor Ruiz Torralbo</p>
    </footer>
</body>
</html>